.wrapper {
  border-radius: 8px;
  overflow: hidden;
  .header {
    background: #333238;
    height: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
  }

  .content {
    background: #111;
    padding: 8px 12px;
    word-break: break-all;
    word-wrap: break-word;
    min-height: 120px;
  }
}